@import "header";
$basic-color: #fff;
$secondary-color: #909090;
$gray-light: #606060;
$brand-color: #40DF6D;
$width: 100%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Rg';
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../img/fonts/ProximaNova-Bold.eot'), url('../img/fonts/ProximaNova-Bold.otf');
}

.hero {
    background-image: url("../img/backgroundHomeD.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    font-family: 'Proxima Nova Rg';
    background-size: cover;
}
/***************** detail ****************/
.badges,
.detail,
.info {
    background-color: #F5F5F5;
}

.badges,
.benefits,
.customers,
.detail,
.info,
.register,
footer {
    padding: 2em 0;
}

.pc-img {
    max-width: 75%;
    height: auto;
    display: none;
}

.img-pc {
    text-align: right;
    padding-right: 0;
}

.item-list {
    width: $width/3;
    list-style: none;
    transition: all 0.4s;
}

.active a {
    color: #fff;
}

.active {
    display: inline-block;
    width: $width/3;
    background-color: $brand-color;
    border-radius: 2em;
    margin: 0;
}

.link {
    cursor: pointer;
    display: block;
    padding: 0.3em 1em;
    color: $secondary-color;
}

.link:hover {
    text-decoration: none;
    color: $secondary-color;
}

.active:hover .link {
    color: $basic-color;
}

.img-active {
    display: inline-block;
}
/***************** customers ****************/
.customers {
    background-color: #6CADDF;
}

.btn-register {
    background: $brand-color;
    border-radius: 0.3em;
    font-size: 1.2em;
    border: none;
    color: $basic-color;
    padding: 0.5em 1em;
}

.list-customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.list-badges {
    @extend .list-customers;
    //padding: 2.5em;
}

.list {
    /*  margin: 0 auto;
    border: 0.1em solid #40df6d;
    border-radius: 2em;
    margin-top: 4em;
    */
    @extend .list-customers;
    border: 0.1em solid #40df6d;
    border-radius: 2em;
    margin-top: 4em;
    width: 36vw;
}

.panel {
    background: $basic-color;
    padding: 2em 1.5em;

    &__blue {
        border-top: 0.5em solid $brand-color;
    }

    &__green {
        border-top: 0.5em solid #6CADDF;
    }
}

.title {
    font-size: 24px;
    line-height: 27px;
    color: $gray-light;

    &__bold {
        font-weight: 700;
        font-size: 1.1em;
    }

    &__section {
        line-height: 1em;
        font-size: 2.8em;
        font-weight: bold;
    }

    &__blue {
        color: $brand-color;
    }

    &__gray {
        color: $gray-light;
    }

    &__green {
        color: #6CADDF;
    }

    &__panel {
        color: #b2b2b2;
        font-size: 16px;
        font-weight: normal;
        line-height: 30px;
    }
}

.pie-pagina {
    background-color: #262F36;
    color: $basic-color;
}

.pie-pagina select {
    background: none;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 0.1em solid #fff;
    padding: 0.5em 0;
    margin-bottom: 2.5em;
}

.link-social {
    padding: 0 6em;
}

.link-customer {
    width: $width/7;

    &__double {
        width: $width/7*2;
    }
}

.link-social img {
    width: 1.6em;
    margin: 0.5em;
}

.pdx2 {
    padding-top: 1.5em;
}

.text-detail {
    padding-left: 7em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 768px) {
    .list-customers {
        flex-direction: column;
    }
    .title__section{
      text-align: center;
    }
    .link-social{
      padding: 2em;
    }
    .text-detail {
        padding-left: 0;
    }
    .item-list,
    .list {
        width: 100%;
        border: none;
    }

    .link-customer {
        width: 100%;
    }

    .item-list{
      border-radius: 0.3em;
      font-size: 1.2em;
      border: 0.1em solid;
      padding: 0.2em 1em;
      margin-bottom: .6em;
      color: $brand-color;
      transition: all 0.4s;
      background: $basic-color;
    }
    .link{
      color: $brand-color;
    }
    .list{
      margin: 0;
    }
    .active{
      background: $brand-color;
      border-radius: 0.3em;
      font-size: 1.2em;
      border: none;
      color: $basic-color;
      padding: 0.2em 1em;
    }

}

footer {}
/*
.enlace-nav {
  color: $basic-color;
  text-decoration: none;
}*/
