.hidden {
  display: none; }

.hero-detail {
  position: absolute;
  top: 25vh;
  text-align: center;
  left: 20vw;
  color: #fff;
  height: 30vh;
  width: 60vw; }

.nav-main {
  position: relative;
  right: 0;
  left: 0;
  width: 100vw;
  height: 30vh; }

.item {
  float: left;
  padding: 1.5em;
  cursor: pointer;
  list-style: none; }

.item a {
  color: #fff; }

.item a:hover {
  text-decoration: none; }

.nav-head {
  float: left;
  max-width: 260px; }

.visible {
  display: inline-block; }

.list-nav {
  float: right;
  padding: 1em 4em; }

.img-logo {
  width: 100%;
  padding: 0.5em 2em; }

/***************/
.menu {
  height: 0.2em;
  margin-right: 2em;
  position: relative;
  width: 2.1em;
  background: #fff;
  transition: all 0.3s; }

.nav-head {
  padding: 1.5em; }

.menu::before {
  top: -.7em; }

.menu::after {
  top: 0.7em; }

.menu:after,
.menu:before {
  content: '';
  width: 2.1em;
  height: 0.2em;
  display: block;
  position: absolute;
  background: #fff;
  transition: all 0.3s; }

.open .menu {
  background: none; }

.open .menu:after {
  top: 0;
  background: #fff;
  transform: rotate(45deg); }

.open .menu:before {
  top: 0;
  background: #fff;
  transform: rotate(-45deg); }

/****************/
@media (max-width: 768px) {
  .hero {
    height: 50vh !important; }

  .visible {
    display: none; }

  .hidden {
    display: inline-block; }

  .toggle-menu {
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s; }

  .toggle-nav {
    position: fixed;
    z-index: 500; }

  .degrade {
    height: 0.1em;
    width: 100vw;
    background-image: linear-gradient(to right, transparent, #fff, transparent); }

  .list-nav {
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 2.5em;
    display: none; }

  .item {
    padding: 0.2em 1.3em; }

  .item a {
    font-size: 1.4em; }

  .img-logo {
    width: 67%;
    padding: 0; }

  .btn-sign {
    padding: 0.5em 4.5em; }

  .hero-detail {
    top: 15vh;
    left: 15vw;
    width: 70vw; } }
.nav-login {
  background-color: #303E47;
  display: flex;
  justify-content: start; }

.btn-login, .btn-fb {
  background: #40DF6D;
  font-size: 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1em;
  color: #fff;
  padding: 1em; }

.btn-fb {
  background: #3B5998; }

.logIn {
  text-align: center;
  font-size: 24px;
  padding-bottom: 1em;
  font-family: "Proxima Nova Rg"; }

.img-login {
  width: 320px;
  height: 5em;
  padding: 0.5em 4.5em; }

.error,
.validacion {
  display: none;
  line-height: 23px;
  color: #D55C4B;
  font-size: 13px;
  text-align: left; }

form {
  margin: 8% auto;
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2em; }

form .input-login {
  border: none;
  height: 5vh;
  background: none;
  border-bottom: solid 0.1em #CCCCCC;
  font-size: 1.2em;
  margin-bottom: 0.5em; }

.input-login::placeholder {
  padding: 1em; }

.input-login:focus {
  outline: none; }

.help {
  color: #6caddf;
  cursor: pointer;
  text-decoration: none;
  line-height: 30px; }

@media (max-width: 768px) {
  form {
    width: 100%; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova Rg'; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../img/fonts/ProximaNova-Bold.eot"), url("../img/fonts/ProximaNova-Bold.otf"), url("../img/fonts/ProximaNova-Bold.svg"), url("../img/fonts/ProximaNova-Bold.ttf"), url("../img/fonts/ProximaNova-Bold.woff"); }
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../img/fonts/ProximaNova-Regular.eot"), url("../img/fonts/ProximaNova-Regular.otf"), url("../img/fonts/ProximaNova-Regular.svg"), url("../img/fonts/ProximaNova-Regular.ttf"), url("../img/fonts/ProximaNova-Regular.woff"); }
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../img/fonts/ProximaNova-Semibold.eot"), url("../img/fonts/ProximaNova-Semibold.otf"), url("../img/fonts/ProximaNova-Semibold.svg"), url("../img/fonts/ProximaNova-Semibold.ttf"), url("../img/fonts/ProximaNova-Semibold.woff"); }
.hero {
  background-image: url("../img/backgroundHomeD.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  font-family: 'Proxima Nova Rg';
  background-size: cover; }

/***************** detail ****************/
.badges,
.detail,
.info {
  background-color: #F5F5F5; }

.badges,
.benefits,
.customers,
.detail,
.info,
.register,
footer {
  padding: 2em 0; }

.pc-img {
  max-width: 75%;
  height: auto;
  display: none; }

.img-pc {
  text-align: right;
  padding-right: 0; }

.item-list {
  width: 33.33333%;
  list-style: none;
  transition: all 0.4s; }

.active a {
  color: #fff; }

.active {
  display: inline-block;
  width: 33.33333%;
  background-color: #40DF6D;
  border-radius: 2em;
  margin: 0; }

.link {
  cursor: pointer;
  display: block;
  padding: 0.3em 1em;
  color: #909090; }

.link:hover {
  text-decoration: none;
  color: #909090; }

.active:hover .link {
  color: #fff; }

.img-active {
  display: inline-block; }

/***************** customers ****************/
.customers {
  background-color: #6CADDF; }

.btn-register, .btn-hero {
  background: #40DF6D;
  border-radius: 0.3em;
  font-size: 1.2em;
  border: none;
  color: #fff;
  padding: 0.5em 1em; }

.btn-hero {
  margin: 0.4em 0.8em; }

.list-customers, .list-badges, .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.list {
  border: 0.1em solid #40df6d;
  border-radius: 2em;
  margin-top: 4em;
  width: 36vw; }

.panel {
  background: #fff;
  padding: 2em 1.5em; }
  .panel__blue {
    border-top: 0.5em solid #40DF6D; }
  .panel__green {
    border-top: 0.5em solid #6CADDF; }

.title {
  font-size: 24px;
  line-height: 27px;
  color: #606060; }
  .title__bold {
    font-weight: 700;
    font-size: 1.1em; }
  .title__subSection {
    font-size: 26px; }
  .title__section {
    line-height: 1em;
    font-size: 2.8em;
    font-weight: bold; }
  .title__blue {
    color: #40DF6D; }
  .title__gray {
    color: #606060; }
  .title__green {
    color: #6CADDF; }
  .title__panel {
    color: #b2b2b2;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px; }

.pie-pagina {
  background-color: #262F36;
  color: #fff; }

.pie-pagina select {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
  text-align: center;
  border-bottom: 0.1em solid #fff;
  padding: 0.5em 0;
  margin-bottom: 2.5em; }

.link-social {
  padding: 0 6em; }

.link-customer {
  width: 14.28571%; }
  .link-customer__double {
    width: 28.57143%; }

.link-social img {
  width: 1.6em;
  margin: 0.5em; }

.pdx2 {
  padding-top: 1.5em; }

.btn-sign {
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: solid #fff 0.1em;
  /* padding-top: 0.5em; */
  /* padding-bottom: 0.5em; */
  /* padding-left: 2em; */
  margin-top: 1em;
  margin-left: 1em; }

.text-detail {
  padding-left: 7em; }

.flex {
  display: flex;
  align-items: center; }

@media (max-width: 768px) {
  .title__section {
    font-size: 1.8em; }

  .list-customers, .list-badges, .list {
    flex-direction: column; }

  .pdx2 {
    padding-top: 1em; }

  .title__section {
    text-align: center; }

  .link-social {
    padding: 0 2em;
    text-align: center; }

  .text-detail {
    padding-left: 0; }

  .item-list,
  .list {
    width: 100%;
    border: none; }

  .link-customer {
    width: 100%; }

  .item-list {
    border-radius: 0.3em;
    font-size: 1.2em;
    border: 0.1em solid;
    padding: 0.2em 1em;
    margin-bottom: 0.6em;
    color: #40DF6D;
    transition: all 0.4s;
    background: #fff; }

  .link {
    color: #40DF6D; }

  .list {
    margin: 0; }

  .active {
    background: #40DF6D;
    border-radius: 0.3em;
    font-size: 1.2em;
    border: none;
    color: #fff;
    padding: 0.2em 1em; } }

/*# sourceMappingURL=main.css.map */
